---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import Header from "../components/Header/Header.astro";
import ThemeToggleButton from "../components/RightSidebar/ThemeToggleButton";

type Props = CollectionEntry<"docs">["data"] & {
  headings: MarkdownHeading[];
};

const { headings, ...data } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/content/docs${currentPage.replace(/\/$/, "")}.md`;
---

<html dir={data.dir} lang={data.lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO {...data} canonicalUrl={canonicalURL} />
    <title>Sybline</title>
    <style>
      body {
        width: 100%;
        display: grid;
        grid-template-rows: var(--theme-navbar-height) 1fr;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
      }

      .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: var(--theme-navbar-bg);
        padding: 20px;
        padding-bottom: 50px;
      }

      .hero-text {
        margin-bottom: 20px;
      }

      .hero-image {
        width: 100%;
        max-width: 300px;
      }

      .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        background-color: var(--theme-bg);
      }

      .subsection {
        flex-basis: 30%;
        margin-bottom: 20px;
        text-align: center;
      }

      .subsection h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .subsection svg {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        fill: #ccc;
      }

      .middle-section {
        text-align: center;
        padding: 20px;
        background-color: var(--theme-navbar-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .final-section {
        text-align: center;
        padding: 20px;
        background-color: var(--theme-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .middle-section h2 {
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 20px;
      }

      .middle-section img {
        max-height: 500px;
      }

      @media (min-width: 768px) {
        /* Media query for larger screens */
        .hero {
          flex-direction: row;
          justify-content: center;
          text-align: left;
        }

        .hero-text {
          font-size: 36px;
          margin-right: 40px;
          margin-bottom: 0;
        }

        .section {
          padding: 40px;
        }

        .subsection {
          flex-basis: 30%;
          margin-bottom: 0;
          text-align: center;
        }

        .subsection h2 {
          font-size: 24px;
          margin-bottom: 15px;
        }

        .subsection svg {
          width: 150px;
          height: 150px;
        }

        .middle-section {
          padding: 40px;
        }

        .middle-section h2 {
          font-size: 36px;
          margin-bottom: 30px;
        }

        .middle-section svg {
          width: 80%;
          height: auto;
          max-width: 600px;
        }

        .final-section h2 {
          font-size: 36px;
          margin-bottom: 30px;
        }
      }

      .footer {
        background-color: var(--theme-navbar-bg);
        text-align: center;
        padding: 20px;
      }

      .footer p {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .what-text {
        font-size: 1.1em;
        max-width: 60%;
      }

      .final-section .section {
        width: 100%;
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <Header currentPage={currentPage} />
    <div class="hero">
      <div class="hero-text">
        <h1>Sybline</h1>
        <p>Simplifying Message Queues & Routing</p>
      </div>
      <svg
        class="hero-image"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
      >
        <g
          transform="translate(0.000000,105.000000) scale(0.045000,-0.045000)"
          fill="#288fef"
          stroke="none"
        >
          <path
            d="M1905 2300 c-142 -75 -280 -177 -448 -332 l-97 -90 -225 0 -225 0
 -101 96 c-90 87 -320 269 -357 283 -8 4 -28 -9 -48 -31 -33 -36 -201 -125
 -266 -141 -34 -9 -37 -23 -27 -146 18 -211 81 -470 158 -650 l40 -91 -25 -226
 c-24 -226 -24 -275 1 -363 50 -176 194 -316 370 -360 28 -7 67 -24 88 -37 56
 -37 116 -39 267 -7 l130 27 120 -26 c174 -38 206 -35 300 24 8 5 47 18 86 29
 134 39 244 133 310 266 54 109 61 178 40 381 -33 312 -34 276 17 404 96 240
 145 474 154 740 5 142 4 160 -15 202 -24 56 -58 80 -120 85 -41 4 -58 -1 -127
 -37z m165 -60 c18 -18 20 -33 20 -149 0 -264 -52 -516 -161 -781 l-42 -104 22
 -205 c12 -114 21 -231 21 -263 0 -152 -102 -314 -235 -377 -67 -31 -73 -29
 -73 29 -2 160 -106 330 -261 424 -33 21 -61 42 -61 47 0 5 -9 18 -20 29 -18
 18 -33 20 -140 20 -113 0 -122 -2 -144 -23 -13 -13 -25 -28 -27 -34 -2 -6 -21
 -19 -41 -29 -63 -32 -164 -126 -197 -183 -43 -73 -70 -157 -79 -242 l-7 -69
 -53 25 c-72 33 -165 124 -201 196 -53 106 -56 162 -28 426 l26 233 -31 67
 c-75 165 -151 456 -164 625 l-7 83 85 43 c46 23 106 60 132 82 27 22 52 40 56
 40 29 0 360 -275 360 -299 0 -4 -17 -13 -37 -19 -21 -7 -60 -24 -88 -40 -38
 -21 -50 -33 -50 -51 0 -46 27 -48 112 -9 90 42 189 71 224 66 31 -4 38 -41 38
 -210 1 -131 17 -198 48 -198 26 0 51 74 57 171 15 240 15 239 42 239 l24 0 -2
 -183 c-2 -161 0 -187 15 -211 10 -15 23 -24 29 -20 21 13 46 91 52 164 7 83
 35 220 48 234 12 14 97 -9 188 -50 66 -30 82 -34 95 -24 38 31 -4 77 -107 117
 -24 9 -47 19 -51 23 -10 8 189 186 289 257 105 75 245 153 277 153 15 0 36 -9
 47 -20z m-1039 -1503 c42 -53 42 -54 8 -118 -46 -85 -208 -226 -282 -244 -25
 -7 -27 -5 -27 22 0 76 50 192 113 260 42 46 133 113 152 113 5 0 22 -15 36
 -33z m287 14 c114 -60 205 -193 220 -323 8 -72 5 -108 -10 -108 -13 0 -81 52
 -141 109 -66 62 -152 177 -166 223 -12 35 -10 41 16 78 15 22 32 40 36 40 4 0
 24 -9 45 -19z m-153 -214 c19 -35 35 -69 35 -75 0 -6 -30 -12 -75 -14 -41 -2
 -74 -1 -72 2 2 3 19 38 38 77 19 40 35 73 36 73 1 0 18 -29 38 -63z m60 -187
 c49 -8 87 -22 129 -48 74 -46 57 -51 -72 -22 -114 25 -182 25 -296 0 -50 -11
 -99 -20 -110 -20 -19 0 -18 3 9 26 17 14 46 32 65 41 42 18 157 42 185 37 11
 -1 51 -8 90 -14z"
          ></path>
          <path
            d="M1052 1089 c-57 -10 -101 -29 -121 -53 -20 -24 11 -32 43 -11 42 28
 160 31 231 7 65 -23 90 -16 61 17 -16 18 -117 52 -147 50 -8 -1 -38 -5 -67
 -10z"
          ></path>
          <path
            d="M1584 1090 c-43 -17 -64 -58 -64 -126 0 -56 3 -65 31 -93 39 -40 78
 -41 120 -3 26 23 32 37 36 84 4 57 -10 102 -39 125 -20 16 -61 22 -84 13z"
          ></path>
          <path
            d="M595 1065 c-22 -21 -25 -33 -25 -94 0 -59 4 -74 24 -98 34 -39 98
 -39 132 0 20 24 24 39 24 98 0 61 -3 73 -25 94 -18 19 -35 25 -65 25 -30 0
 -47 -6 -65 -25z"
          ></path>
        </g>
      </svg>
    </div>

    <div class="section">
      <div class="subsection">
        <h2>Highly Avaliable</h2>
        <img
          src="/database-server-computer-cluster.svg"
          alt="image of database serverss"
          height="200"
          width="200"
        />
        <p>
          Able to within stand node failures with minimal impact to operations
        </p>
      </div>
      <div class="subsection">
        <h2>Open Source</h2>
        <img
          src="/open-source.svg"
          alt="community icon"
          height="200"
          width="200"
        />
        <p>
          All Sybline Code is open source and accessible via our github
          space
        </p>
      </div>
      <div class="subsection">
        <h2>Simplicity</h2>
        <img
          src="/target.svg"
          alt="target with arrow in bullseye"
          height="200"
          width="200"
        />
        <p>
          Sybline puts simplicity first, aiming to decrease the operational
          burden of running a sybline cluster
        </p>
      </div>
    </div>

    <div class="middle-section">
      <h2>What is Sybline?</h2>
      <img src="/broker.svg"/>
      <p class="what-text">
        Sybline aims to be a Highly Avaliable Message Broker, ensuring your
        backend can continue process messages while also simplify the way in
        which your infrastructure communicates.
      </p>
    </div>

    <div class="final-section">
      <h2>Sybline Features</h2>
      <div class="section">
        <div class="subsection">
          <h3>Direct Routing</h3>
          <img
            
            src="/direct.svg"
            alt="target with arrow in bullseye"
            height="150"
            width="150"
          />
          <p>Sybline supports routing based on simple direct connections</p>
        </div>
        <div class="subsection">
          <h3>Snapshots</h3>
          <img
            src="/update.svg"
            alt="target with arrow in bullseye"
            height="150"
            width="150"
          />
          <p>
            Log snapshots are able to be taken, and played back to bring nodes
            back online
          </p>
        </div>
        <div class="subsection">
          <h3>Batch Operations</h3>
          <img
            src="/big-data.svg"
            alt="target with arrow in bullseye"
            height="150"
            width="150"
          />
          <p>
            Most operations can be batched, decreasing overhead and increasing
            throughput
          </p>
        </div>
      </div>
      <h5>Go to our docs to discover all of syblines features!</h5>
    </div>

    <footer class="footer">
      <ThemeToggleButton client:visible />
      <p>&copy; 2023 Sybline. All rights reserved.</p>
    </footer>
  </body>
</html>
